<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.yandex.academy.mobdev.client"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.yandex.academy.mobdev.service.activity" />
    <uses-permission android:name="com.yandex.academy.mobdev.service.provider.read" />
    <uses-permission android:name="com.yandex.academy.mobdev.service.provider.write" />
    <uses-permission android:name="com.yandex.academy.mobdev.service.receiver" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <permission android:name="com.yandex.academy.mobdev.client.receiver"
                android:protectionLevel="signature" />

    <application android:allowBackup="true"
                 android:icon="@mipmap/ic_launcher"
                 android:label="@string/short_app_name"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme"
                 tools:ignore="GoogleAppIndexingWarning">
        <meta-data android:name="android.security.net.config"
                   android:resource="@xml/network_security_config" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider android:name="android.support.v4.content.FileProvider"
                  android:authorities="com.yandex.academy.mobdev.client.provider"
                  android:exported="false"
                  android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                       android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>